name: Store Secrets in HashiCorp Vault

on:
 
 workflow_dispatch:
 push:
    branches:
    - main

permissions: 
      id-token: write
      contents: read

jobs:
  store_secrets:
    runs-on: self-hosted
    
    permissions: 
      id-token: write
      contents: read

    steps:
      - name: Download Python Code From Github on Runner
        uses: actions/checkout@v3
      
      - name: Retrieve Secret
        id: secretdata
        uses: hashicorp/vault-action@v2.5.0
        with:
             method: jwt
             path: "jwt"
             #url: "https://${{ secrets.VAULT_ADDR }}"
             url: "http://vault.k8s.local"    
             #namespace: "${{ secrets.VAULT_NAMESPACE }}"
             namespace: "root"
             role: "another-jwt-role"
             #caCertificate: ${{ secrets.VAULT_CACERT }}
             #tlsSkipVerify: true
             secrets: |
                 mdeey/data/app test | username ;
                 mdeey/data/app test | password 

      - name: Print Secret
        id: token
        env:
             USERNAME: ${{ steps.secretdata.outputs.username }}
             PASSWORD: ${{ steps.secretdata.outputs.password }}
        run: |
             echo  $USERNAME >> /tmp/output.txt
             echo  $PASSWORD >> /tmp/output.txt
      
      - name: 'upload artifact output.txt'
        uses: actions/upload-artifact@v4
        with:
          name: output.txt
          path: /tmp/output.txt


